.services-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.services-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.services-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url('https://images.unsplash.com/photo-1638262052640-82e94d64664a?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDh8fGhhbmRzaGFrZXxlbnwwfHx8fDE2OTI1NTcyMjR8MA&ixlib=rb-4.0.3&w=1500');
  background-position: center;
}
.services-text {
  color: var(--dl-color-gray-white);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.services-text1 {
  color: var(--dl-color-gray-white);
  font-size: 3rem;
  max-width: auto;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.services-link {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.services-link:hover {
  transform: scale(1.02);
}
.services-text3:hover {
  transform: scale(1.02);
}
.services-blog {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  justify-content: space-between;
}
.services-container2 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
}
.services-component1 {
  text-decoration: none;
}
.services-component2 {
  text-decoration: none;
}
.services-container3 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
}
.services-navlink {
  display: contents;
}
.services-component3 {
  text-decoration: none;
}
.services-navlink1 {
  display: contents;
}
.services-component4 {
  text-decoration: none;
}
.services-container4 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
}
.services-component5 {
  text-decoration: none;
}
.services-navlink2 {
  display: contents;
}
.services-component6 {
  text-decoration: none;
}
@media(max-width: 767px) {
  .services-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .services-blog {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .services-container2 {
    flex: 0 0 auto;
    margin-left: 0px;
    margin-right: 0px;
  }
  .services-container3 {
    flex: 0 0 auto;
    margin-left: 0px;
    margin-right: 0px;
  }
  .services-container4 {
    flex: 0 0 auto;
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media(max-width: 479px) {
  .services-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .services-blog {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
