.header-header {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.header-navlink {
  display: contents;
}
.header-image {
  width: auto;
  height: 2.5rem;
  object-fit: cover;
  text-decoration: none;
}
.header-nav {
  display: flex;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-publish {
  padding-top: 5px;
  border-color: #a0221a;
  margin-right: var(--dl-space-space-unit);
  padding-bottom: 5px;
  text-decoration: none;
}
.header-text {
  font-size: 12px;
}
.header-burger-menu {
  display: none;
}
.header-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.header-mobile-menu {
  top: 0px;
  left: 0px;
  width: auto;
  height: auto;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.header-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.header-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.header-image1 {
  width: 200px;
  object-fit: cover;
}
.header-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.header-language {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-image2 {
  width: 30px;
  object-fit: cover;
  margin-right: var(--dl-space-space-twounits);
}
.header-image3 {
  width: 30px;
  filter: grayscale(100%);
  object-fit: cover;
}
.header-icon4 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.header-icon6 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  text-decoration: none;
}










@media(max-width: 991px) {
  .header-image {
    width: auto;
    height: 2rem;
  }
  .header-mobile-menu {
    left: left;
  }
}
@media(max-width: 767px) {
  .header-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .header-nav {
    display: none;
  }
  .header-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-mobile-menu {
    left: left;
    width: auto;
    height: auto;
  }
  .header-nav1 {
    align-items: center;
    justify-content: center;
  }
  .header-container1 {
    align-items: center;
    margin-bottom: var(--dl-space-space-twounits);
    justify-content: center;
  }
  .header-image1 {
    width: auto;
    height: 2rem;
    margin: 10px;
  }
  .header-language {
    margin: 40px;
    align-items: center;
    justify-content: center;
  }
  .header-icon-group {
    align-self: center;
  }
}
@media(max-width: 479px) {
  .header-header {
    padding: var(--dl-space-space-unit);
  }
  .header-mobile-menu {
    padding: 16px;
  }
}
