.logos-container {
    width: 100%;
    display: flex;
    overflow: auto;
    align-items: center;
    flex-direction: column;
}

.logos-features {
    width: 100%;
    display: flex;
    padding: var(--dl-space-space-threeunits);
    flex-direction: column;
    
}

.logos-text {
    font-size: 3rem;
    align-self: center;
    margin-bottom: var(--dl-space-space-threeunits);
    text-transform: uppercase;
}

.logos-container1 {
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: var(--dl-space-space-twounits);
        
}



